<body class="bg-gray-200">
<div class="container mx-auto flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold mb-2 text-center">Login</h2>

    <form [formGroup]="loginForm">
      <div class="mb-4">
        <label for="loginUsername" class="block text-gray-300 text-lg font-semibold mb-0.5">Username:</label>
        <input type="text" id="loginUsername" formControlName="loginUsername"
               class="w-full p-2 border border-gray-300 rounded">
        <div *ngIf="loginForm.get('loginUsername')?.hasError('required')">
          Username is required.
        </div>
      </div>

      <div class="mb-4">
        <label for="loginPassword" class="block text-gray-300 text-lg font-bold mb-0.5">Password:</label>
        <input type="password" id="loginPassword" formControlName="loginPassword"
               class="w-full p-2 border border-gray-300 rounded">
        <div *ngIf="loginForm.get('loginPassword')?.hasError('required')">
          Password is required.
        </div>
      </div>

      <button (click)="onLogin()" type="button" class="w-full mt-4 text-lg bg-gray-400 text-black py-2 px-4 rounded-md hover:bg-gray-300 focus:outline-none focus:ring focus:border-green-300">Login
      </button>
    </form>
  </div>
</div>
</body>
